<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col s12">
    <%= f.label 'Nombre' %>
    <%= f.text_field :name %>
  </div>

  <div class="col s12">
    <%= f.label 'Apellido' %>
    <%= f.text_field :lastname %>
  </div>

  <div class="col s12">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="col s12">
    <%= f.label 'Teléfono (10 dígitos)' %>
    <%= f.text_field :phone %>
  </div>

  <div class="col s12">
    <%= f.label 'Fecha de Nacimiento' %>
    <%= f.date_field :birthday %>
  </div>

  <div class="col s12">
    <%= f.label 'Ocupación' %>
    <%= f.text_field :ocupation %>
  </div>

  <div class="col s12 state">
    <%= f.label 'Estado' %>
    <!-- <%= f.text_field :state %> -->
    <%= render "states" %>
  </div>

  <div class="col s12">
    <%= f.label 'Delegación / Municipio' %>
    <%= f.text_field :county %>
  </div>

  <div class="actions center-align">
    <div class="waves-effect waves-light btn stanley_btn stanley_bg">
      <%= f.submit 'Guardar' %>
    </div>
  </div>
<% end %>
